body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url(./assets/img/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 744px;
}

.nav-logo{
    width: 187px;
    height: 40px;
}
.nav-link{
    font-size: 15px;
}
.nav-link:hover{
    color: yellow;
}
.header-text{
    margin-top: 250px;
    
}
.main-title{
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}
.main-title__subtitle{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 40px;
}
.btn{
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0 auto;
    display: block;
}
.section-heading{
    margin-top: 80px;
    margin-bottom: 16px;
    font-size: 40px;
}
.section-subheading{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 64px;
}
.section-portfolio{
   height: 1000px; 
}
.card{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    
}
